#container {
  position: relative;
  width: 100%;
}

/* content-slide */
.content-slide .slick-arrow {
  position: absolute;
  top: 50%;
  width: 22px;
  height: 40px;
}
.component-text {
  position: absolute;
  width: 1392px;
  text-align: center;
  top: 60px;
  bottom: 60px;
}
.component-text-inner {
  display: inline-block;
  vertical-align: bottom;
}
.box-title h2 {
  display: block;
}
.box-title .sub {
  padding-bottom: 10px;
  line-height: 1.3;
  font-weight: normal;
  font-size: 24px;
} 
.box-title .title {
  line-height: 1.15;
  font-weight: bold;
  font-size: 52px;
}
.box-title .desc {
  letter-spacing: -.03em;
  margin-top: 20px;
  line-height: 1.5em;
  font-size: 18px;
}
.visual-area img {
  width: 100%;
}
@media (max-width: 1920px) {
  .box-title .sub {
    padding-bottom: 0.521vw;
    font-size: 1.25vw;
  } 
  .box-title .title {
    font-size: 2.708vw;
  }
  .box-title .desc {
    margin-top: 1.042vw;
    font-size: 0.938vw;
  }
}
@media (max-width: 1700px) {
  .component-text {
    width: 1200px;
  }
}
@media (max-width: 1600px) {
  .component-text {
    top: 3.75vw;
    bottom: 3.75vw;
  }
  .box-title .sub {
    padding-bottom: 0.625vw;
    font-size: 1.5vw;
  }  
  .box-title .title {
    font-size: 3.25vw;
  }
  .box-title .desc {
    margin-top: 1.25vw;
    font-size: 1.125vw;
  }
}
@media (max-width: 1440px) {
  .component-text {
    width: 100%;
    padding: 0 8.33333vw;
    top: 4.167vw;
    bottom: 4.167vw;
  }
  .box-title .sub {
    padding-bottom: 0.694vw;
    font-size: 1.667vw;
  } 
  .box-title .title {
    font-size: 3.611vw;
  }
  .box-title .desc {
    margin-top: 1.389vw;
    font-size: 1.25vw;
  }
}
@media (max-width: 1100px) {
  .component-text {
    top: 5.455vw;
    bottom: 5.455vw;
  }
}

/* tablist-prd-container */
.tablist-prd-container {
  width: 95%;
  text-align: center;
  padding: 40px 0;
  margin: 0 auto;
}
.slider-tab-title {
  padding: 0 24px 32px 24px;
}
.slider-tab-title .swiper-wrapper {
  display: inline;
  max-width: 20%;
  padding: 0 20px;
}
.swiper-wrapper button {
  background-color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.33em;
  letter-spacing: -.07em;
}
@media (max-width: 1600px) {
  .slider-tab-title button {
    font-size: 1vw;;
  }
}
@media (max-width: 1440px) {
  .slider-tab-title button {
    font-size: 1.0417vw;
  }
}
.slider-tabtype-list {
  height: 587px;
  display: flex;
  flex-wrap: wrap;
}
.prd-item {
  width: 25%;
  height: 50%;
  padding: 12px;
}
.prd-item img {
  width: 100%;
  height: 100%;
}
@media (max-width: 1600px) {
  .prd-item {
    padding: .75vw;
  }
}
@media (max-width: 1440px) {
  .prd-item {
    padding: .8333vw;
  }
}

/* b2c-box */
.b2c-box {
  width: 100%;
  padding: 40px 0 50px;
}
.common-marketing-content {
  position: relative;
  width: 100%;
  margin: 0 24px;
  text-align: center;
}
.common-marketing-content:first-of-type {
  margin-bottom: -1px;
}
@media (min-width: 1101px) and (max-width: 1440px) {
  .common-marketing-content {
    margin: 0 -1.6667px;
  }
}
.common-marketing-content .box-tit {
  position: absolute;
  top: 46px;
  left: 0;
  right: 0;
  color: #fff;
  font-weight: bold;
  font-size: 28px;
  line-height: 37px;
  letter-spacing: -0.1em;
}
.common-marketing-content .box-menu {
  position: absolute;
  top: 99px;
  left: 0;
  right: 0;
}
.common-marketing-content .box-menu 
.btn-menu {
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px;
  padding-bottom: 2px;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: -0.1em;
  background-color: transparent;
  color: #fff;
}
@media (min-width: 1101px) and (max-width: 1440px) {
  .common-marketing-content .box-tit {
    top: 3.1944vw;
    font-size: 1.9444vw;
    line-height: 2.5694vw;
  }
  .common-marketing-content .box-menu {
    top: 6.875vw;
  }
  .common-marketing-content .box-menu 
  .btn-menu {
    margin: 0 1.3889vw;
    padding-bottom: 0.1389vw;
    font-size: 1.3889vw;
    line-height: 1.6667vw;
  }
}
.common-marketing-content .slide-box 
img {
  width: 100%;
  display: block;
  margin: 0 10px;
  padding-right: 20px;
}
.common-marketing-content .box-txt {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 46px;
}
.common-marketing-content .box-txt 
.txt {
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
}
.common-marketing-content .box-txt 
.sub-txt {
  margin-top: 10px;
  color: #fff;
  font-size: 20px;
  line-height: 1.33;
}
.common-marketing-content .box-txt 
.btns {
  margin-top: 24px;
  font-size: 0;
}
.common-marketing-content .box-txt 
.btns .btn-item {
  display: inline-block;
  vertical-align: middle;
  margin: 0 12px;
}
@media (min-width: 1101px) and (max-width: 1440px) {
  .common-marketing-content .box-txt {
    bottom: 3.1944vw;
  }
  .common-marketing-content .box-txt 
  .txt {
    font-size: 3.3333vw;
  }
  .common-marketing-content .box-txt 
  .sub-txt {
    margin-top: 0.6944vw;
    font-size: 1.3889vw;
  }
  .common-marketing-content .box-txt 
  .btns {
    margin-top: 1.6667vw;
  }
  .common-marketing-content .box-txt 
  .btns .btn-item {
    margin: 0 0.83333vw;
  }
}
.common-marketing-content:nth-child(3) .box-tit,
.common-marketing-content:nth-child(3) .box-menu .btn-menu,
.common-marketing-content:nth-child(3) .box-txt > p {
  color: #000;
}
.common-marketing-content:nth-child(3) .btn-type4 {
  color: #fff;
  background: #000;
  border: 1px solid #000;
}


/* btn */
.btn{
  display: inline-block;
  margin: 0 4px;
  padding: 0 24px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border: 1px solid rgba(33, 36, 37, .6);
  background-color: #fff;
  overflow: hidden;
}
.btn-d {
  min-width: 96px;
  height: 40px;
  line-height: 38px;
  font-size: 14px;
  border-radius: 20px;
}
@media (min-width: 1101px) and (max-width: 1440px) {
  .btn {
    margin: 0 0.2778vw;
    padding: 0 1.6667vw;
  }
  .btn-d {
    min-width: 6.6667vw;
    height: 2.7778vw;
    line-height: 2.6389vw;
    font-size: 0.9722vw;
    border-radius: 1.3889vw;
  }
}
.btn-type4 {
  color: #000;
  background: #fff;
  border: 1px solid #fff;
}