#header_navi {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #eee;
  background: #fff;
  transition: background 0.3s;
}
#header_navi .header_inner {
  max-width: 1440px;
  padding-top: 16px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* logo */
.logo {
  display: flex;
  align-items: center;
}
.logo a {
  padding-left: 9px;
}
.logo img {
  vertical-align: middle;
}
@media (min-width: 1281px) {
  .logo img {
    width: 120px;
    height: 17px;
  }
}

/* search_box */
.search_box {
  width: 330px;
  height: auto;
  background: #F5F5F5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 14px;
  border-radius: 40px;
}
.slick_slider {
  width: 70%;
  display: block;
}
.slick_list {
  height: 16.2344px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick_track {
  position: relative;
  top: 0;
  left: 0;
  margin: 0 auto;
}
.slick_slide {
  width: 212px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: auto;
}
.slick_slide a {
  font-size: 14px;
}

.search_button {
  width: 26px;
  height: 26px;
}
.search_button img {
  max-width: 100%;
}

/* menu_wrap */
.menu_wrap {
  width: 93%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.menu_list {
  width: 100%;
  display: flex;
}
.menu_item {
  display: flex;
  align-items: center;
  padding: 0 2px;
  line-height: 30px;
  font-weight: bold;
  color: #000;
}
.item_button {
  border-radius: 32px;
  padding: 0 9px;
  display: flex;
  align-items: center;
  font-weight: 700;
  letter-spacing: -0.15em;
}
.list_right {
  margin-left: auto;
}
@media screen and (max-width: 1440px) and (min-width: 1281px) {
  .item_button {
    font-size: 0.9rem;
  }
}