html, body, div, h1, h2, h3, h4, h5, h6, span, object, 
iframe, p, blockquote, pre, abbr, address, cite, code,
del, em, img, q, small, strong, b, i, a, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, input, textarea, table, caption, 
tbody, tfoot, thead, tr, th, td, article, aside, footer, 
header, menu, nav, section, button, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: 'SamsungOneKorean', Dotum, '돋움', sans-serif;
  letter-spacing: -0.02em;
  box-sizing: border-box;
}
@media (max-width: 1440px) and (min-width: 1101px) {
  html, body, div, h1, h2, h3, h4, h5, h6, span, object, 
  iframe, p, blockquote, pre, abbr, address, cite, code,
  del, em, img, q, small, strong, b, i, a, dl, dt, dd, ol, ul, li, 
  fieldset, form, label, legend, input, textarea, table, caption, 
  tbody, tfoot, thead, tr, th, td, article, aside, footer, 
  header, menu, nav, section, button, audio, video {
   font-size: 1.1111vw
  }
}
a {
  color: #000;
  text-decoration: none;
}
ol, ul, li {
  list-style: none;
}
/* ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
} */
i {
  font-style: italic;
}